.block {
	width: 300px;
	margin: 20px auto;
	padding:20px;
	border: 1px solid #ddd;
	border-radius: 10px;
}

.circle {
	background-color: #3d3d3d;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	color:#fff;
	line-height: 200px;
	text-align: center;
	border-radius: 50%;
	text-shadow: 1px 1px 1px #111;
	position:relative;
}

.circle span {
	position: relative;
	z-index: 2;
}

.circle:after {
	content:"";
	width:200px;
	height: 200px;
	background-color: #18aaa4;
	border-radius: 50%;
	position: absolute;
	display:block;
	left:0;
	top:0;
	z-index:1;
	transition: all .5s;
}

.circle:hover::after {
	width:0;
	height:0;
	left:100px;
	top:100px;
	filter: blur(20px);
}

.text {
	color: #555;
	text-align: justify;
}

h3 {
	text-align:center;
}

